/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Basic Style Sheet (for static landing webpage)
version: 1.0
author: sean wang
email: xiaotian.wang.7@gmail.com
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

body, html {
    height: 100%;
}

h2{
    text-align: center;
}

li{
    text-align: center;
    border: none;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1467579424161-6bbc141569d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b917ea86ffd43b705cc36e2205594d6&auto=format&fit=crop&w=1050&q=80");

    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#hero-text{
	font-size: 50px;
}

/*navbar settings*/
.navbar-brand{
	font-family: Righteous;
	font-size: 30px;
	color: black;
}

#Phone-number{
	font-family: Roboto 700;
	font-size: 25px;
	color: black;
}

#Phone-number:hover{
    background: none;
}

#link-back{
    font-size: 30px;
}

.main-text{
	font-family: oxygen;
}

#list-text{
	text-align: left;
}

li.list-group-item{
	border: none;
}

button.btn.btn-info.btn-block{
	margin-top: 20px;
}

.input-image{ 
	display: block;
	margin:auto auto auto auto;
	padding-top: 20px;
}

/*footer*/
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #525459;
    color: white;
    text-align: right;
    padding: 25px 20px 20px 20px;